.footer-container{
    background-color: #5f7d95;
    padding: 30px;
}

.link-footer{
    display: flex;
    align-items: center; 
    justify-content:center;
    gap: 50px;
    font-size: 30px;
    list-style: none;
}

.link-footer:hover{
    color: white;
    transition: all 0.5s ease;
}

