.producto-tarjetas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    margin: 50px;
    
    gap: 30px;

}

/* .Contador-de-productos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: 25px;
    background-color: lightskyblue;;
} */
