.navbar {
    background-color: #5f7d95;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.img-logo{
    width: 80px;
}



.links {
    list-style: none;
    display: flex;
    font-family:monospace;
    font-size: 20px;
}

.links li {
    margin-right: 20px;
}

.links li a {
    text-decoration: none;
    color: #fff;
}


.link-dropdown {
    margin-right: 10px;
    
}